ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
  }
  
  li {
    float: left;
    list-style-type: none;
  }
  
  li a {
    display: block;
    list-style: none;
    color: black;
    padding: 8px;
    text-decoration: none;
  }
